.box{
    width: 400px;
    height: 400px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 40px;
    margin: 0 auto;
    margin-top: 180px;
    text-align: center;
}

.profile_image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

html {
    background: url(images/light.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}