* {
    font-family: dfkai-sb, stkaiti, 標楷體, 华文楷体, serif !important;
}

html {
    
    background: url(images/light.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.box{
    width: 400px;
    height: 400px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 40px;
    margin: 0 auto;
    margin-top: 160px;
    text-align: center;
}

.profile_image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#mail {
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    position: fixed;
    bottom: 10px;
    right: 40px;
}